oya
.oya/

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Go Patch ###
/vendor/
/Godeps/

### Go builds ###
/dist/

### Node ###
/node_modules/

## Jekyll ##
/docs/_site/
/_site/
