  <div class="footer">
    <div class="footer-container w-container">
      <!-- <div class="columns w-row"> -->
      <!-- <div class="footer-column w-col w-col-3"> -->
      <!-- <div class="footer-section-title">Product</div> -->
      <!-- <a href="#" class="footer-link w-inline-block"> -->
      <!-- <div class="footer-link-text">Install</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- <a href="/packs" class="footer-link w-inline-block"> -->
      <!-- <div class="footer-link-text">Packs</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- <a href="/documentation" class="footer-link w-inline-block w--current"> -->
      <!-- <div class="footer-link-text">Documentation</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- </div> -->
      <!-- <div class="footer-column w-col w-col-3"> -->
      <!-- <div class="footer-section-title">Contribution</div> -->
      <!-- <a href="#" class="footer-link w-inline-block"> -->
      <!-- <div class="footer-link-text">Learn more</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- <a href="#" class="footer-link w-inline-block"> -->
      <!-- <div class="footer-link-text">Join us</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- </div> -->
      <!-- <div class="footer-column w-col w-col-3"> -->
      <!-- <div class="footer-section-title">Support</div> -->
      <!-- <a href="#" class="footer-link w-inline-block"> -->
      <!-- <div class="footer-link-text">Public Slack</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- <a href="#" class="footer-link w-inline-block"> -->
      <!-- <div class="footer-link-text">FAQ</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- </div> -->
      <!-- <div class="footer-column w-col w-col-3"> -->
      <!-- <div class="footer-section-title">Legal</div> -->
      <!-- <a href="#" class="footer-link w-inline-block"> -->
      <!-- <div class="footer-link-text">Terms of use</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- <a href="#" class="footer-link w-inline-block"> -->
      <!-- <div class="footer-link-text">Privacy Policy</div><img src="/images/footer-arrow.svg" alt="" class="footer-link-arrow"></a> -->
      <!-- </div> -->
      <!-- </div> -->
      <div class="footer-copyright">
        <div class="footer-copyright-text">Made by <a href="https://tooploox.com" target="_blank" class="link-2">Tooploox sp. z o.o.</a></div>
        <div class="footer-rights-reserved">All rights reserved.</div>
      </div>
    </div>
  </div>
  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->